.user-settings-form md-card {
    padding: 0 !important;
}
.user-settings-form md-card md-card-title {
    background-color: blue;
}

.user-settings-form .email {
    background-color: #ececec;
}


label {
    font-size: 20px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-color: '#8c8c8c';
}