<div layout="column" layout-padding="">
    <span flex="120"></span>
    <md-content class="register-form" layout="row" flex="120">
        <span flex="120"></span>
        <span flex="35"></span>


        <md-card flex="115">
            <md-card-content>
                <form name="RegisterForm">
                    <md-input-container class="md-block">
                        <label>First name</label>
                        <input type="text" name="firstname" ng-model="$ctrl.register.firstname" placeholder=""  required=""/>
                        <div ng-messages="RegisterForm.firstname.$error" role="alert" multiple="">
                                     <div ng-message="required">Please enter your first name.</div>
                                </div>
                        </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last name</label>
                        <input type="text" name="lastname" ng-model="$ctrl.register.lastname" placeholder="" required=""/>
                        <div ng-messages="RegisterForm.lastname.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your last name.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>e-mail</label>
                        <input type="email" name="email" ng-model="$ctrl.register.email" placeholder="" required=""/>
                        <div ng-message="RegisterForm.email.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your e-mail adress.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input type="text" name="address" ng-model="$ctrl.register.address" placeholder="" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="pw1" ng-model="$ctrl.register.password" placeholder="" required=""/>
                    </md-input-container>

                    <!--
                    <md-input-container class="md-block">
                        <label>Password repeat</label>
                        <input type="password" name="pw2" ng-model="$ctrl.register.passwordrepeat" placeholder="" required="" pw-check="pw1"/>
                    </md-input-container>
                    -->

                    <!--
                    <div class="msg-block" ng-show="RegisterForm.pw2.$error">
                        <span class="msg-error" ng-show="myForm.pw2.$error">Passwords don't match.</span>
                    </div>
                    -->
                    <md-input-container class="md-block">
                        <label>Birthday</label>
                        <input type="date" name="birthday" ng-model="$ctrl.register.birthday" placeholder=""/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Mobile</label>
                        <input type="text" name="mobile" ng-model="$ctrl.register.mobile" placeholder=""/>
                        <!--
                        <div ng-messages="RegisterForm.lastname.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your last name.</div>
                        </div>
                        -->
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>About me</label>
                        <textarea  cols="60" rows="5" name="aboutme" ng-model="$ctrl.register.aboutme" placeholder=""></textarea>
                    </md-input-container>


                    <md-input-container class="md-block">
                        <label>Interests</label>
                    </md-input-container>
                        <dl class="dropdown">
                        <dd>
                            <div class="mutliSelect">
                                <input type="checkbox" name="sports" ng-model="$ctrl.register.sports"/>Sports
                                <input type="checkbox" name="social" ng-model="$ctrl.register.social"/>Social
                                <input type="checkbox" name="music" ng-model="$ctrl.register.music"/>Musik
                                <input type="checkbox" name="culture" ng-model="$ctrl.register.culture"/>Culture
                                <input type="checkbox" name="party" ng-model="$ctrl.register.party"/>Party
                            </div>
                        </dd>
                    </dl>

                    <md-input-container class="md-block">
                        <label>Profile Picture</label> <br>
                        <input type="file" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload"> <!-- </br> Select a file to upload --></label>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="checkbox" name="licenseagreement" ng-model="$ctrl.register.licenseagreement" required=""/>
                        <label>I accept the license agreement of the Marshmallow Cooperation</label>
                    </md-input-container>
                    <md-button ng-disabled="!RegisterForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Register &nbsp</md-button>
                    <md-button ng-click="$ctrl.cancel()" class="md-raised md-primary" >&nbsp Cancel &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>

