.login-form md-card {
    padding: 0 !important;
}
.login-form md-card md-card-title {
    background-color: blue;
}
label {
    font-size: 20px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-color: '#8c8c8c';
}