<div layout="column" layout-padding="">
    <span flex="120"></span>

    <md-content class="view-map" layout="column" flex="120">

        <div id="hello" style="background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url('pics/desert.jpg')" ng-if="!$ctrl.isAuthenticated()">

            <h1>Welcome to Marshmallow Fun!</h1>
            <!--<a style="text-decoration: none" ui-sref="register">-->
            <!--<h3>SIGN UP</h3>-->
            <!--</a>-->

            <md-button ui-sref="register" class="md-raised md-primary" >SIGN UP</md-button>

            <ul id="list">
                <li>Connect With Friends</li>
                <li>Find New Activities Near You</li>
                <li>Never Miss Opportunities For Your Favourite Hobby</li>
            </ul>
        </div>
        <p>
            Search: <input ng-model="$ctrl.query" />
            <input type="checkbox" name="sports" ng-model="$ctrl.filter.sports"/>Sports
            <input type="checkbox" name="social" ng-model="$ctrl.filter.social"/>Social
            <input type="checkbox" name="music" ng-model="$ctrl.filter.music"/>Musik
            <input type="checkbox" name="culture" ng-model="$ctrl.filter.culture"/>Culture
            <input type="checkbox" name="party" ng-model="$ctrl.filter.party"/>Party
        </p>
        <br>
        <md-card flex="115">
            <md-card-content style="height:100%">
                <form name="UserSettingsForm" style="height:400px">
                    <ng-map center="[48.26, 11.67]" style="height:100%" onload="$ctrl.testFunction()">

                        <div ng-repeat="p in $ctrl.markerPoints">
                            <marker  title="{{p.name}}" position="{{p.latitude}}, {{p.longitude}}" ></marker>
                        </div>

                        <marker position="[48.26, 11.67]" title="First marker"></marker>
                        <marker position="[48.263, 11.67]" title="Second marker" animation="Animation.DROP"></marker>
                        <marker position="[48.26, 11.673]" title="Third marker" aimation="Animation.BOUNCE"></marker>
                        <marker position="[48.26, 11.668]" title="First marker" icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>

                    </ng-map>

                </form>
            </md-card-content>
        </md-card>


    </md-content>
    <span flex></span>

</div>

