#hello {
    /*background-color: #4CAF50; !* Green *!*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*display: block;*/
    /*margin: auto;*/
    display: block;
    height: 200px;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-position: 50% 50%;
    color: white;
    margin: 0;
    padding: 20px;
}
#list {
    list-style-type: none;
    /*text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
    /*text-shadow: 2px 2px 3px rgba(255,255,255,0.1);*/
    /*text-shadow: 6px 6px 0px rgba(0,0,0,0.2);*/
}