<div layout="column" layout-padding="">
    <span flex="120"></span>

    <md-content class="view-map" layout="column" flex="120">

        <div id="hello" style="background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url('pics/desert.jpg')">

            <h1>Welcome to Marshmallow Fun!</h1>
            <!--<a style="text-decoration: none" ui-sref="register">-->
            <!--<h3>SIGN UP</h3>-->
            <!--</a>-->

            <md-button ng-if="!$ctrl.isAuthenticated()"
            " ui-sref="register" class="md-raised md-primary" >SIGN UP</md-button>

            <ul id="list">
                <li>Connect With Friends</li>
                <li>Find New Activities Near You</li>
                <li>Never Miss Opportunities For Your Favourite Hobby</li>
            </ul>
        </div>
        <div id="search">
            <input id="searchbar" ng-model="$ctrl.query" type="text" placeholder="Search"/>
            <input type="checkbox" name="sports" ng-model="$ctrl.filter.sports"/>Sports
            <input type="checkbox" name="social" ng-model="$ctrl.filter.social"/>Social
            <input type="checkbox" name="music" ng-model="$ctrl.filter.music"/>Music
            <input type="checkbox" name="culture" ng-model="$ctrl.filter.culture"/>Culture
            <input type="checkbox" name="party" ng-model="$ctrl.filter.party"/>Party
        </div>
        <md-card flex="115">
            <md-card-content style="height:100%">
                <form name="UserSettingsForm" style="height:550px">
                    <ng-map center="[48.26, 11.67]" zoom="11" style="height:100%">

                        <marker position="current" title="You are here"
                                icon="http://www.robotwoods.com/dev/misc/bluecircle.png"></marker>



                        <marker title="{{p.title}}" position="{{p.latitude}}, {{p.longitude}}"  id="{{p._id}}"  ´
                                ng-repeat="p in $ctrl.activities" on-click="$ctrl.showStore(p)"></marker>


                        <info-window id="normalActivity">
                            <div ng-non-bindable="">
                                <p>{{$ctrl.marker.title}}</p>
                                <div>Tags:</div>
                                <div>Description: {{$ctrl.marker.details}}</div>
                                <div>Lat: {{anchor.getPosition().lat()}}</div>
                                <div>Long: {{anchor.getPosition().lng()}}</div>
                                <div>Date: {{$ctrl.marker.date}}</div>
                                <div>Time:</div>
                                <md-button ng-click="$ctrl.follow()" class="md-raised md-primary">Follow</md-button>
                                <!-- <md-button ng-if="!ctrl.isOwnActivity()" ui-sref="myFollowList" class="md-raised md-primary">Follow</md-button>
                                -->
                                <md-button ui-sref="myFollowList" class="md-raised md-primary">Join</md-button>
                                <md-button ui-sref="myActivities" class="md-raised md-primary">Details</md-button>
                            </div>
                        </info-window>


                        <info-window id="ownActivity">
                            <div ng-non-bindable="">
                                <p>{{$ctrl.marker.title}}</p>
                                <div>Tags:</div>
                                <div>Description: {{$ctrl.marker.details}}</div>
                                <div>Lat: {{anchor.getPosition().lat()}}</div>
                                <div>Long: {{anchor.getPosition().lng()}}</div>
                                <div>Date: {{$ctrl.marker.date}}</div>
                                <div>Time:</div>

                                <!--<md-button ui-sref="myFollowList" class="md-raised md-primary">Follow</md-button>-->
                                <md-button ui-sref="myFollowList" class="md-raised md-primary">Join</md-button>
                                <md-button ui-sref="myActivities" class="md-raised md-primary">Details</md-button>
                            </div>
                        </info-window>


                        <info-window id="newActivity">
                            <div ng-non-bindable="">

                                <md-input-container class="md-block">
                                    <label>Activity name</label>
                                    <input type="text" name="firstname" ng-model="$ctrl.activity.title" placeholder=""
                                           required=""/>

                                </md-input-container>

                                <md-input-container class="md-block">
                                    <p style="font-size:92
                        %;color:#8c8c8c">Interests</p>
                                </md-input-container>
                                <dl class="dropdown">
                                    <dd>
                                        <div class="mutliSelect">
                                            <input type="checkbox" name="sports" ng-model="$ctrl.activity.sports"/>Sports
                                            <input type="checkbox" name="social" ng-model="$ctrl.activity.social"/>Social
                                            <input type="checkbox" name="music" ng-model="$ctrl.activity.music"/>Music
                                            <input type="checkbox" name="culture" ng-model="$ctrl.activity.culture"/>Culture
                                            <input type="checkbox" name="party" ng-model="$ctrl.activity.party"/>Party
                                        </div>
                                    </dd>
                                </dl>


                                <md-input-container class="md-block">
                                    <label>Date and time</label>
                                    <input type="string" name="birthday" ng-model="$ctrl.activity.date"
                                           placeholder=""/>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Details:</label>
                                    <textarea cols="60" rows="2" name="aboutme" ng-model="$ctrl.activity.details"
                                              placeholder=""></textarea>
                                </md-input-container>


                                <md-button ui-sref="http://google.de" class="md-raised md-primary" ng-click="$ctrl.save()">Save
                                    Activity
                                </md-button>
                                <md-button ng-click="$ctrl.cancel()" class="md-raised md-primary">Cancel</md-button>
                                <!--<md-button ng-click="$ctrl.follow()" class="md-raised md-primary">Follow</md-button>
                                -->
                            </div>
                        </info-window>

                    </ng-map>

                    <!-- <md-button class="md-raised md-primary" ng-click="$ctrl.addNewActivity()" ui-sref="map">Add new activity</md-button> -->


                </form>
            </md-card-content>
        </md-card>


    </md-content>
    <span flex></span>

</div>

